body {
    background-color: #eeeeee;
}


.container {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.title {
    margin: 0 280px 0 0;
}

.form__group-title {

    margin: 0 270px 0 0;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: red;
    color: #fafafa;
}

.input input {
    width: 400px;
}